{% extends 'base1.html' %}
{% load staticfiles %}
{% block title %}
    富文本编辑
{% endblock title %}
<!-- 写入 base.html 中定义的 content -->
{% block content %}
<!-- 写文章表单 -->
<div id="article_update">
            <!-- 提交文章的表单 -->
            <form method="post" action="/article/article-create/2" enctype="multipart/form-data">
                <!-- Django中需要POST数据的地方都必须有csrf_token -->
                {% csrf_token %}
                <!-- 文章标题 -->
                <div id="update_before">
                    <!-- 标签 -->
                    <label for="title">文章标题</label>
                    <!-- 文本框 -->
                    <input type="text" id="title" name="title">
                </div>
                <!-- 文章正文 -->
                <div id="update_after">
                    <label for="body">文章正文</label>
                    <!-- 文本区域 -->
                    <div>
                        {{ article_post_form.media }}
                        {{ article_post_form.body1}}
                    </div>

                </div>
                <div id="update_column">
                    <label for="column">标签:</label>
                    <select id="column" name="column" >
                        <option value="none">请选择标签...</option>
                        {% for column in columns %}
                            <option value="{{ column.id }}">{{ column }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div id="create_img">
                    <label for="avatar">标题图(下图为默认图片)</label>
                    <div id="show-pic">
                        <img id="book-pic" src="{% static 'images/moarticle.jpg' %}" alt="">
                    </div>
                    <input type="file" onchange="show(this)"  name="avatar" id="avatar">
                </div>
                <!-- 提交按钮 -->
                <button type="submit" onclick="return create_over()">完成</button>
            </form>
</div>
{% endblock content %}
{% block js %}
<script>
    function show(f) {
        //得到上传文件的值
        var fileName=document.getElementById("avatar").value;
            //返回String对象中子字符串最后出现的位置.
        var seat=fileName.lastIndexOf(".");
            //返回位于String对象中指定位置的子字符串并转换为小写.
        var extension=fileName.substring(seat).toLowerCase();
            //判断允许上传的文件格式
        if(extension!=".jpg"&&extension!=".jpeg"&&extension!=".gif"&&extension!=".png"&&extension!=".bmp"){
            alert("不支持"+extension+"文件的上传!");
            document.getElementById("book-pic").src = "{% static 'images/moarticle.jpg' %}";
            return false;
        }else{
            var rd = new FileReader();//创建文件读取对象
            if(f.files.length >= 1){
                var files = f.files[0];//获取file组件中的文件
                rd.readAsDataURL(files);//文件读取装换为base64类型
                rd.onloadend = function (e) {
                //加载完毕之后获取结果赋值给img
                    document.getElementById("book-pic").src = this.result;
                }
                }else{
                    document.getElementById("book-pic").src = "{% static 'images/moarticle.jpg' %}";
                }
            }
    }
    <!--提交前判断-->
    function create_over(){
        var r = confirm('确定创建行文章吗？');
        if(r==true){
            var title_name = $('#title').val();
            if (title_name){
                return true;
            }else {
                alert('请传入文章标题!');
                return false;
            }
        }else{
            return false;
        }
    }
</script>
{% endblock %}