/*整体大框架*/
#article_row{
    margin-left: 10px;
    margin-right: 10px;
	float: left;
}
/*搜索结果*/
#article_resutl1{
	margin-top: 10px;
	font-size: 20px;
}
#article_resutl1 span{
	color: #f92672;
}
#article_resutl2{
	margin-top: 10px;
	font-size: 20px;
}
#article_resutl2 span{
	color: #f92672;
}
/*每篇文章*/
#article_list{
    border-radius: 4px 4px 0 0;
    border-bottom: 0.5px solid #6f42c1;
    padding: 10px 0;
    width: 1000px;
}
/*图片*/
#article_img{
    vertical-align: top;
    display: inline-block;
	margin-left: 10px;
}
#article_img img {
	width: 200px;
	height: 150px;
    cursor: pointer;
    transition: all 0.7s;
}
#article_img img:hover{
     transform: scale(1.08);
}
/*右边文本区*/
#article_info {
    display: inline-block;
    width: 75%;
    height: 150px;
    padding-left: 5px;
}
/*标题栏*/
#article_info dl dt a{
    float: left;
	width: 100%;
	line-height: 22px;
	font-size: 20px;
	color: #6f42c1;
}
/*标题选中*/
#article_info dl dt a:hover{
    color: #c69500;
}
/*标题加作者栏*/
#article_info .free{
    padding-top: 30px;
    height: 20px;
}
/*作者栏*/
#article_info .name{
    float: left;
	padding-left: 18px;
	padding-right: 4px;
	height: 20px;
	background: url(../images/news-icon.png) no-repeat left 3px top 7px;
}
#article_info .name a{
    display: inline-block;
	color: #007bff;
}
/*时间栏*/
#article_info .identity{
    float: left;
	padding: 5px 25px 0 0;
}
#article_info .time{
    /*float: left;*/
    margin-top: 10px;
    height: 20px;
	padding-left: 20px;
	color: #fd7e14;
	background: url(../images/news-icon.png) no-repeat left -26px;
}
/*正文显示栏*/
#article_info .text{
    float: left;
	width: 100%;
    height: 60px;
	margin: 10px 0;
	font-size: 15px;
	word-wrap: break-word;
    color: #777;
}
/*热度 标签栏*/
#article_boot {
	color: #ae81ff;
	font-size: 15px;
	width: 100%;
}
/*标签*/
#article_boot .tags a{
    display: inline-block;
	color: #ffffcc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin-right: 6px;
	background-color: #1E9FFF;
	font-size: 14px;
}
#article_boot .tags a:hover{
	background-color: #0b2e13;
	color: #fefefe;
}
#article_boot .tags .two{
	background-color: #FD482C;
}
/*点击量*/
#article_boot .look{
	float: right;
	line-height: 22px;
}
#article_boot .look strong {
	font-weight: normal;
	color: #138496;
}
/*评论*/
#article_boot .look .plun{
	margin-right: 20px;
	color: #34ce57;
}
/*页尾导航栏*/
.edit_quotes {
    padding-top: 15px;
	padding-bottom: 15px;
	width: 100%;
	text-align: center;
	font-size: 13px;
}
.edit_quotes a{
    color: white;
	margin: 0 3px;
	background: #6f42c1;
	border-radius: 5px;
    text-decoration: none;
    padding: 1px 5px;
}
.edit_quotes a:hover {
	background: #0b2e13;
}
#edit_current{
	background: #0b2e13;
	color: #B2B2B2;
}
/*详情页大框架*/
#detail_row{
    margin-left: 10px;
    margin-right: 10px;
    width: 1010px;
}
/* 面包屑导航*/
#mianbao{
	padding: 0;
	margin: 0;
	background-color: white;
}
#mianbao a{
	color: #6f42c1;
}
/*h3样式*/
#detail_row h3{
	text-align: left;
	color: #0b2e13;
}
/*信息栏样式*/
#detail_row .xinxi{
	background-color: #6f42c1;
	border-radius: 2px;
}
/*作者和浏览量*/
#detail_row .xinxi span{
	font-size: 16px;
	color: honeydew;
}
/*修改和删除文章*/
#detail_row .xinxi a{
	float: right;
	color: #ffe8a1;
	padding-right: 20px;
}
#detail_row .xinxi a:hover{
	color: #960050;
}
/*文章正文*/
#detail_zhengwen{
	margin-top: 10px;
}
/*文章目录*/
#detail_mulu h5 a{
	border-radius: 3px;
	margin-left: 10px;
	color: #6f42c1;
	background-color: #eaeaea;
	font-size: 18px;
	border: 1px solid #B2B2B2;
}
/*文章文本栏*/
#detail_body{
	margin-left: 10px;
	margin-right: 5px;
}
/*最后更新栏*/
#detail_time {
    padding-top: 3px;
}
#detail_time span{
    float: right;
    font-size: 14px;
    color: #212529;
}
#detail_time a{
    color: #155724;
}
/*文章评论区*/
#detail_comment #pinlun_tishi{
	color: #6f42c1;
	font-size: 18px;
}
#post-comment{
	padding-top: 10px;
}
#post-comment strong{
	color: #6f42c1;
	font-size: 16px;
}
#post-comment #body{
	outline: none;
	background-color: #fefefe;
	width: 730px;
	border: 0.5px dashed #6f42c1;
	resize: none;
}
#post-comment button{
	background: #6f42c1;
	color: #fefefe;
}
/*评论显示区*/
#comment_area{
	padding-top: 5px;
	/*border: 0.5px dashed #6f42c1;*/
}
#comment_area h5{
	color: #6f42c1;
}
/*文章修改*/
#article_update{
	margin-left: 10px;
	width: 1010px;
}
#update_before{
	padding-top: 10px;
}
#update_before label{
	width: 100%;
	background-color: #F5F5F5;
	margin-bottom: 0;
	font-size: 15px;
}
#update_before input{
	display: block;
	width: 100%;
	font-size: 1rem;
    line-height: 1.4em;
	border: 0.5px solid #6f42c1;
	color: black;
}
/*文章正文*/
#update_after label{
	width: 100%;
	background-color: #F5F5F5;
	margin-bottom: 0;
	font-size: 15px;
}
#update_after #body{
	width: 100%;
	border: 1px solid #6f42c1;
	min-height: 500px;
}
/*文章标签*/
#update_column{
	margin-top: 5px;
	background-color: #F5F5F5;
}
#update_column label{
	margin-bottom: 0;
	font-size: 15px;
}
#update_column select{
	border: 1px solid #6f42c1;
	width: 150px;
}
/*按钮*/
#article_update button{
	background-color: #6f42c1;
	color: #ffffff;
	margin-right: 10px;
	margin-top: 10px;
	font-size: 16px;
}
/*文章上传图片*/
#create_img{
	position: relative;
	min-height: 220px;
	border: 1px solid #6f42c1;
	margin-top: 5px;
	background-color: #F5F5F5;
}
#create_img label{
	margin-bottom: 0;
	font-size: 15px;
}
#create_img input{
	display: block;
	position: absolute;
	bottom: 0;
}
