/*书籍页面框架*/
.book_list{
    position: relative;
    overflow: hidden;
}
.book_list ul{
}
.book_list ul li{
    width: 130px;
    height: 300px;
    overflow: hidden;
    color: #a6978a;
    float: left;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-right: 50px;
    margin-left: 13px;
}
.book_list .book{
    float: left;
}
.book_list .cover{
    padding: 4px 10px 16px;
    background-position: 0 0;
    width: 128px;
    height: 170px;
}
.book_list .cover img{
    width: 128px;
    height: 170px;
}
.book .title{
    display: block;
    height: 36px;
    overflow: hidden;
    line-height: 18px;
    color: #613f23;
    font-size: 15px;
}
.info{
    color: #a6978a;
    display: block;
}
.u-author {
    float: left;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #666;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
}

/*书籍详情页面下载按钮*/
.book_down{
    text-align: center;
}