.video_list {
    position: relative;
    overflow: hidden;
    background-color: #fff;
}
.one_video{
    float: left;
    margin: 20px 20px 20px 29px;
}
.zoom-container{
    position: relative;
	overflow: hidden;
    display: inline-block;
    font-size: 16px;
	font-size: 1rem;
	vertical-align: top;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.zoom-container img {
	display: block;
	width: 460px;
    height: 258px;
	-webkit-transition: all .5s ease; /* Safari and Chrome */
    -moz-transition: all .5s ease; /* Firefox */
    -ms-transition: all .5s ease; /* IE 9 */
    -o-transition: all .5s ease; /* Opera */
    transition: all .5s ease;
}
.zoom-container:hover img {
	-webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}
.zoom-container .zoom-caption {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;
	-webkit-transition: all .5s ease; /* Safari and Chrome */
    -moz-transition: all .5s ease; /* Firefox */
    -ms-transition: all .5s ease; /* IE 9 */
    -o-transition: all .5s ease; /* Opera */
    transition: all .5s ease;
}
.icon-play {
	display: block;
	text-align: center;
	font-size: 32px;
	letter-spacing: -8px;
	color: #fff;
	margin:23% 45%;
	background-color: rgba(17, 17, 17, 0.8);
	width: 50px;
	height: 50px;
	padding: 8px 5px;
	border-radius: 50%;
}
.icon-play:hover {
	background-color: rgba(210, 0, 0, 0.9);
}
.zoom-container:hover .zoom-caption {
	background: rgba(0, 0, 0, .5);
}
.info1 i{
	margin-right: 8px;
}
.info1 span{
	margin-right: 10px;
}
/*视频框大小*/
#dplayer{
	width: 1008px;
	height: 567px;
}