{% extends "base1.html" %}
{% load staticfiles %}
<!-- 写入 base.html 中定义的 title -->
{% block title %}
    书籍详情
{% endblock title %}
{% block head %}
    <style>
        .content{
            padding: 0 20px;
            background-color: #fff;
            border: 1px solid #EAEAEA;
            border-radius: 4px;
        }
    </style>
{% endblock %}
{% block content %}
<ol id="mianbao" class="breadcrumb" style="background-color: white">
    <li class="breadcrumb-item"><a href="{% url 'book:book_list' %}">书籍列表</a></li>
    <li class="breadcrumb-item"><a href="#"></a></li>
    <li class="breadcrumb-item active">{{book.title}}</li>
</ol>
<header class="article-header">
    <h1 class="article-title">
        <a href="">{{book.title}}</a>
    </h1>
    <div class="article-meta">
        <span class="item article-meta-time">
      <time class="time" data-toggle="tooltip" data-placement="bottom" title="{{book.created_time}}">
          <i class="glyphicon glyphicon-time"></i> {{book.created_time}}
      </time>
      </span>
        <span class="item article-meta-source" data-toggle="tooltip" data-placement="bottom" title="{{book.author}}"><i class="glyphicon glyphicon-globe"></i> {{book.author}}</span>
        <span class="item article-meta-category" data-toggle="tooltip" data-placement="bottom" title="{{article.column}}"><i class="glyphicon glyphicon-list"></i> <a href="program" title="">{{article.column}}</a></span>
        <span class="item article-meta-views" data-toggle="tooltip" data-placement="bottom" title="查看：{{ article.total_views}}"><i class="glyphicon glyphicon-eye-open"></i> 共0人围观</span>
        <span class="item article-meta-comment" data-toggle="tooltip" data-placement="bottom" title="评论：0"><i class="glyphicon glyphicon-comment"></i> 0评论</span> </div>
</header>
 <article class="article-content">
    <p>{{ book.body1|safe}}</p>
    <p class="article-copyright hidden-xs">未经允许不得转载：<a href="">噼里啪啦博客</a> » <a href="article.html">php如何判断一个日期的格式是否正确</a></p>
</article>
<div class="article-tags">标签：<a href="" rel="tag">空白</a></div>
<div class="article-tags"><a href="{% url 'book:download' book.id %}" rel="tag">下载此书</a></div>
<div class="title" id="comment">
    <h3>评论 <small>抢沙发</small></h3>
</div>
<div id="respond">
    <form action="" method="post" id="comment-form">
      <div class="comment">
        <div class="comment-title"><img class="avatar" src="images/icon/icon.png" alt="" /></div>
        <div class="comment-box">
          <textarea placeholder="您的评论可以一针见血" name="comment" id="comment-textarea" cols="100%" rows="3" tabindex="1" ></textarea>
          <div class="comment-ctrl"> <span class="emotion"><img src="images/face/5.png" width="20" height="20" alt="" />表情</span>
            <div class="comment-prompt"> <i class="fa fa-spin fa-circle-o-notch"></i> <span class="comment-prompt-text"></span> </div>
            <input type="hidden" value="1" class="articleid" />
            <button type="submit" name="comment-submit" id="comment-submit" tabindex="5" articleid="1">评论</button>
          </div>
        </div>
      </div>
    </form>
</div>
<div id="postcomments">
    <ol class="commentlist">
      <li class="comment-content"><span class="comment-f">#1</span>
        <div class="comment-avatar"><img class="avatar" src="images/icon/icon.png" alt="" /></div>
        <div class="comment-main">
          <p><span class="address">河南郑州</span><span class="time">(2016-01-06)</span><br />
            这是匿名评论的内容这是匿名评论的内容，这是匿名评论的内容这是匿名评论的内容这是匿名评论的内容这是匿名评论的内容这是匿名评论的内容这是匿名评论的内容。</p>
        </div>
      </li>
    </ol>
  </div>
{% endblock content %}