{% extends "base.html" %}
{% load staticfiles %}
<!-- 写入 base.html 中定义的 title -->
{% block title %}
    书籍详情
{% endblock title %}
{% block head %}
     <link rel="stylesheet" href="{% static 'css/book_list.css' %}">
{% endblock %}
{% block content %}
<!-- 文章详情 -->
    <div id="detail_row">
        <ol class="breadcrumb" id="mianbao">
        <li class="breadcrumb-item"><a href="{% url 'book:book_list' %}">书籍列表</a></li>
        <li class="breadcrumb-item"><a href="#">{{article.column}}</a></li>
        <li class="breadcrumb-item active">{{book.title}}</li>
        </ol>
        <!-- 标题及作者 -->
        <h3>{{ book.title }}</h3>
        <div class="xinxi">
            <span>作者：{{ book.author }}</span>
            <span>|</span>
            <span>{{book.created_time}}</span>
        </div>
        <!-- 文章正文 -->
        {% if book.body1 %}
            <div id="detail_zhengwen">​
                <!-- 新增的目录 -->
                <div id="detail_body">
                    <p>{{ book.body1|safe}}</p>
                </div>
            </div>
        {% endif %}
        <div id="detail_time">
            栏目: <a href="">留白</a>
            <span>最后更新:{{book.updated_time}}</span>
        </div>
        <div class="book_down">
            {% if user.is_authenticated %}
                <a href="{% url 'book:download' book.id %}"><button type="button" class="btn btn-primary" onclick="downfile()">下载此书</button></a>
            {% else %}
                <a onclick="user_login()"><button type="button" class="btn btn-primary" onclick="downfile()">下载此书</button></a>
            {% endif %}
        </div>
        <!--发表评论区-->
        <div id="detail_comment">
            {% if user.is_authenticated %}
                <div id="post-comment">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="body"><strong>我也要发言：</strong></label>
                            <textarea type="text" class="form-control" id="body" name="body"></textarea>
                        </div>
                        <!-- 提交按钮 -->
                        <button type="submit">发送</button>
                    </form>
                </div>
            {% else %}
                <h5 class="row justify-content-center" id="pinlun_tishi">
                    请<a href="#" onclick="user_login()">登录</a>后发表评论
                </h5>
            {% endif %}
        </div>
        <!--评论显示区-->
        <div id="comment_area">
            <h5>共有{{ comments.count }}条评论</h5>
            <div>
                {% for comment in comments %}
            <p>
                <strong style="color: darkblue">
                    {{ comment.user }}
                </strong> 于
                <span style="color: green">
                    {{ comment.created|date:"Y-m-d H:i:s" }}
                </span> 时说：
            </p>
            <pre style="font-family: inherit; font-size: 1em;">{{ comment.body }}</pre>
                 {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}