{% extends "base.html" %}
{% load staticfiles %}
<!-- 写入 base.html 中定义的 title -->
{% block title %}
    书籍列表页
{% endblock title %}
{% block head %}
        <link rel="stylesheet" href="{% static 'css/book_list.css' %}">
{% endblock %}
{% block content %}
    <div id="article_row">
        <div class="book_list">
            <ul>
                {% for book in books %}
                <li>
                    <div class="book">
                        <a href="{% url 'book:book_detail' book.id %}" class="cover"  target="_blank"><img src="{{book.avatar.url}}"  style="display: block;"></a>
                        <a href="" class="title" target="_blank">{{book.title}}</a>
                    </div>
                    <div class="info">
                        <p class="u-author">
                            <span>{{book.author}}</span>
                        </p>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock content %}