{% extends "base1.html" %}
{% load staticfiles %}
<!-- 写入 base.html 中定义的 title -->
{% block title %}
    视频详情
{% endblock title %}
{% block head %}
    <link rel="stylesheet" href="{% static 'dist/DPlayer.min.css' %}" type='text/css' media='all'/>
{% endblock %}
{% block content %}<!-- 文章详情 -->
    <div id="detail_row">
        <ol class="breadcrumb" id="mianbao">
        <li class="breadcrumb-item"><a href="{% url 'video:video_list' %}">视频列表</a></li>
        <li class="breadcrumb-item"><a href="#"></a></li>
        <li class="breadcrumb-item active">{{video.title}}</li>
        </ol>
        <!-- 标题及作者 -->
        <h3>{{ video.title }}</h3>
        <div class="xinxi">
            <span>上传者者：{{ video.author }}</span>
            <span>|</span>
            <span>{{video.created_time}}</span>
        </div>
        <!-- 文章正文 -->
        <div id="detail_zhengwen">​
            <div id="dplayer"></div>
        </div>
        <div id="detail_time">
            类型: <a href="">留白</a>
        </div>
    </div>
{% endblock content %}
{% block js %}
    <script src="{% static 'dist/DPlayer.min.js' %}"></script>
    <script>
    (function(){
            var player = new DPlayer({
                    container:document.getElementById("dplayer"),
                    autoplay : false,
                    theme :	'#b7daff',
                    preload :"no",
                    video : {
                            "url":"{{video.video_url}}"
                    },
            });
            window.dplayers||(window.dplayers=[]);
            window.dplayers.push(player);
    })()
    </script>
{% endblock js %}